<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Salary Calculator</title>
	<style type="text/css">
		label{
			display: block;
		}
	</style>
	<script src="angular.min.js"></script>
	<script>
	function SalaryCalculatorController($scope){
		$scope.calc = {
			basic : 0,
			hra : 0,
			da : 0,
			tax : 0,
			salary : 0,
			calculate : function(){
				var gross = this.basic + this.hra + this.da;
				this.salary = gross * ((100 - this.tax)/100);
			}
		}
	}
	</script>
</head>
<body data-ng-app data-ng-controller="SalaryCalculatorController">
	<h1>Salary Calculator</h1>
	<hr>
	<div><label for="">Basic :</label><input type="number" data-ng-model="calc.basic"></div>
	<div><label for="">HRA :</label><input type="number" data-ng-model="calc.hra"></div>
	<div><label for="">DA :</label><input type="number" data-ng-model="calc.da"></div>
	<div>
		<label for="">Tax :</label>
		<input type="range" id="rangeTax" min="0" max="50" data-ng-model="calc.tax">
		<span id="spanTax">{{calc.tax}}%</span>
	</div>
	<div><input type="button" value="Calculate" id="btnCalculate" data-ng-click="calc.calculate()"></div>
	<div>
		<div id="divResult">{{calc.salary}}</div>
	</div>
</body>
</html>